{{!-- <h1>{{appTitle}} 🚀</h1>
<p>Welcome Ironhacker!</p> --}}

<br> <br>


<div class="container">
  <div class="row">
    <div class="col-sm">
      <select class="form-select" aria-label="Default select example">
        <option selected>Categories</option>
        <option value="dolls">Dolls</option>
        <option value="lego">Lego</option>
        <option value="video games">Video Games</option>
        <option value="baby">Baby</option>
        <option value="puzzles">Puzzles</option>
        <option value="other">Other</option>
      </select>
    </div>
    <div class="col-sm">
      <select class="form-select" aria-label="Default select example">
        <option selected>Price</option>
        <option value="lowPrice">0 - 20€</option>
        <option value="averagePrice">20 - 100€</option>
        <option value="expensive">> 100€</option>
      </select>
    </div>
    <div class="col-sm">
      <select class="form-select" aria-label="Default select example">
        <option selected>Age</option>
        <option value="1">0 - 5</option>
        <option value="2">5 - 10</option>
        <option value="3">> 10</option>
      </select>
    </div>
  </div>

  <div class="col-sm">
    <form action="/products/search" method="GET" class="navbar navbar-expand-lg navbar-light bg-light">
      <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search" name="searchInput">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit"> Search</button>
    </form>
  </div>

</div>

<hr>

<main class="container">

  <div class="row text-left">
    <h1>Show all categories</h1>
  </div>

  <section class="row d-flex align-items-end text-center">

    <div class="card col-lg-2 mb-3">
      <img src="../public/images/Dolls-Orange.jpg" style="width:12em;" class="card-img-bottom d-inline-block"
        alt="Dolls">
      <div class="card-body">
        <h5 class="card-title">Dolls</h5>
        <a href="/products/categories/dolls" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col-lg-2 mb-3">
      <img src="../public/images/lego-train.jpg" class=" card-img-bottom d-inline-block" alt="Lego">
      <div class="card-body">
        <h5 class="card-title">Lego</h5>
        <a href="/products/categories/lego" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col-lg-2 mb-3">
      <img src="../public/images/videoGame-ps2.jpg" class="card-img-bottom d-inline-block" alt="Video Games">
      <div class="card-body">
        <h5 class="card-title">Video Games</h5>
        <a href="/products/categories/videoGames" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col-lg-2 mb-3">
      <img src="../public/images/baby-manipulation-eveil.jpg" class="card-img-bottom d-inline-block mt-1" alt="Baby">
      <div class="card-body">
        <h5 class="card-title">Baby</h5>
        <a href="/products/categories/baby" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col-lg-2 mb-3">
      <img src="../public/images/puzzle-france.jpg" class="card-img-bottom d-inline-block" alt="Puzzles">
      <div class="card-body">
        <h5 class="card-title">Puzzles</h5>
        <a href="/products/categories/puzzles" class="btn btn-danger">More details</a>
      </div>
    </div>


    <div class="card col-lg-2 mb-3">
      <img src="../public/images/orther-tchoupi.jpg" class="card-img-bottom d-inline-block mt-3" alt="Other">
      <div class="card-body">
        <h5 class="card-title">Other</h5>
        <a href="/products/categories/other" class="btn btn-danger">More details</a>
      </div>
    </div>


  </section>
</main>

<hr>
<main class="container">

  <div class="row text-left">
    <h1>Deal of the day</h1>
  </div>

  <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
    <div class="carousel-inner">
      <div class="carousel-item active" data-bs-interval="1000">
        <img src="../public/images/Doll-Barbie.jpg" class="d-block w-10" alt="...">
      </div>
      <div class="carousel-item" data-bs-interval="2000">
        <img src="../public/images/Lego-Super-Nintendo-Set.jpg" class="d-block w-10" alt="...">
      </div>
      <div class="carousel-item">
        <img src="../public/images/Dolls-Red-Rag.jpg" class="d-block w-10" alt="...">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

</main>