<h2 class="mt-5"> EDIT YOUR INFORMATIONS</h2>

{{#if userInSession}}


<div class="container">
  <div class="col-lg-4">
    <div class="card">
      <div class="card-body">
        <form action="/auth/user-profile/edit" method="post">
          <div class="row ">
            <div class="col-sm-3  d-flex align-items-center">
              <h6 class="mb-0">Full Name</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input name="username" type="text" class="form-control" value="{{userInSession.username}}">
            </div>
          </div>


          <div class="row mb-3">
            <div class="col-sm-3  d-flex align-items-center">
              <h6 class="mb-0">Number Phone</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input name="numberPhone" type="text" class="form-control" value="{{ userInSession.numberPhone }}">
            </div>
          </div>


          <div class="row mb-3">
            <div class="col-sm-3  d-flex align-items-center">
              <h6 class="mb-0">Address</h6>
            </div>
            <div class="col-sm-9 text-secondary">
              <input name="address" type="text" class="form-control" value="{{ userInSession.address }}">
            </div>
          </div>


          <div class="row">
            <div class="col-sm-3 "></div>
            <div class="col-sm-9 text-secondary">
              <button class="btn btn-danger px-4">Save changes</button>
            </div>
          </div>

        </form>

      </div>
    </div>

  </div>

</div>




{{else}}
<p>Still no logged in user, sorry!</p>
{{/if}}